In [51]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [52]:
path = '../input/food-price-me/wfpvam_foodprices.csv'
data = pd.read_csv(path,low_memory=False)

In [53]:
data.columns

Index(['adm0_id', 'adm0_name', 'adm1_id', 'adm1_name', 'mkt_id', 'mkt_name',
       'cm_id', 'cm_name', 'cur_id', 'cur_name', 'pt_id', 'pt_name', 'um_id',
       'um_name', 'mp_month', 'mp_year', 'mp_price', 'mp_commoditysource'],
      dtype='object')

In [54]:
data.shape

(2004959, 18)

In [55]:
data

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
0,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,1,2014,50.0000,NaN
1,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,2,2014,50.0000,NaN
2,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,3,2014,50.0000,NaN
3,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,4,2014,50.0000,NaN
4,1.0,Afghanistan,272,Badakhshan,266,Fayzabad,55,Bread - Retail,0.0,AFN,15,Retail,5,KG,5,2014,50.0000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2004954,271.0,Zimbabwe,3444,Midlands,5585,Matibi,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,7,2020,866.6666,NaN
2004955,271.0,Zimbabwe,3444,Midlands,5585,Matibi,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,8,2020,800.0000,NaN
2004956,271.0,Zimbabwe,3444,Midlands,5585,Matibi,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,12,2020,1187.5000,NaN
2004957,271.0,Zimbabwe,3444,Midlands,5585,Matibi,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,2,2021,1123.3333,NaN
2004958,271.0,Zimbabwe,3444,Midlands,5585,Matibi,887,Fish (kapenta) - Retail,0.0,ZWL,15,Retail,5,KG,3,2021,1390.0000,NaN

In [56]:
data.adm0_name.unique()

array(['Afghanistan', 'Algeria', 'Angola', 'Argentina', 'Armenia',
       'Azerbaijan', 'Bangladesh', 'Bassas da India', 'Belarus', 'Benin',
       'Bhutan', 'Bolivia', 'Burkina Faso', 'Burundi', 'Cambodia',
       'Cameroon', 'Cape Verde', 'Central African Republic', 'Chad',
       'China', 'Colombia', 'Congo', 'Costa Rica', "Cote d'Ivoire",
       'Democratic Republic of the Congo', 'Djibouti',
       'Dominican Republic', 'Ecuador', 'Egypt', 'El Salvador', 'Eritrea',
       'Ethiopia', 'Gabon', 'Gambia', 'Georgia', 'Ghana', 'Guatemala',
       'Guinea', 'Guinea-Bissau', 'Haiti', 'Honduras', 'Indonesia',
       'Iran  (Islamic Republic of)', 'Iraq', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kyrgyzstan',
       "Lao People's Democratic Republic", 'Lebanon', 'Lesotho',
       'Liberia', 'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania',
       'Mexico', 'Moldova Republic of', 'Mongolia', 'Mozambique',
       'Myanmar', 'Namibia', 'Nepal', 'Nicaragua', 'Niger', 'Nigeria',
       'Pakistan', 'Panama', 'Paraguay', 'Peru', 'Philippines',
       'Russian Federation', 'Rwanda', 'Senegal', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sri Lanka',
       'State of Palestine', 'Sudan', 'Swaziland', 'Syrian Arab Republic',
       'Tajikistan', 'Thailand', 'Timor-Leste', 'Togo', 'Turkey',
       'Uganda', 'Ukraine', 'United Republic of Tanzania', 'Venezuela',
       'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [57]:
data.adm0_name.unique().shape

(98,)

In [58]:
data_TR=data.loc[data.adm0_name=='Turkey']

In [59]:
data_TR

,adm0_id,adm0_name,adm1_id,adm1_name,mkt_id,mkt_name,cm_id,cm_name,cur_id,cur_name,pt_id,pt_name,um_id,um_name,mp_month,mp_year,mp_price,mp_commoditysource
1826544,249.0,Turkey,0,NaN,1319,National Average,52,Rice - Retail,0.0,TRY,15,Retail,5,KG,5,2013,4.4920,NaN
1826545,249.0,Turkey,0,NaN,1319,National Average,52,Rice - Retail,0.0,TRY,15,Retail,5,KG,6,2013,4.5786,NaN
1826546,249.0,Turkey,0,NaN,1319,National Average,52,Rice - Retail,0.0,TRY,15,Retail,5,KG,11,2013,4.7865,NaN
1826547,249.0,Turkey,0,NaN,1319,National Average,52,Rice - Retail,0.0,TRY,15,Retail,5,KG,12,2013,5.1337,NaN
1826548,249.0,Turkey,0,NaN,1319,National Average,52,Rice - Retail,0.0,TRY,15,Retail,5,KG,1,2014,5.5099,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1836858,249.0,Turkey,3057,NaN,2055,Izmir,502,Cocoa (powder) - Retail,0.0,TRY,15,Retail,5,KG,1,2021,68.2002,NaN
1836859,249.0,Turkey,3057,NaN,2055,Izmir,502,Cocoa (powder) - Retail,0.0,TRY,15,Retail,5,KG,2,2021,68.6250,NaN
1836860,249.0,Turkey,3057,NaN,2055,Izmir,502,Cocoa (powder) - Retail,0.0,TRY,15,Retail,5,KG,3,2021,71.2310,NaN
1836861,249.0,Turkey,3057,NaN,2055,Izmir,502,Cocoa (powder) - Retail,0.0,TRY,15,Retail,5,KG,4,2021,73.2609,NaN
1836862,249.0,Turkey,3057,NaN,2055,Izmir,502,Cocoa (powder) - Retail,0.0,TRY,15,Retail,5,KG,5,2021,75.6859,NaN

In [60]:
data_TR.isnull().sum()

adm0_id                   0
adm0_name                 0
adm1_id                   0
adm1_name             10319
mkt_id                    0
mkt_name                  0
cm_id                     0
cm_name                   0
cur_id                    0
cur_name                  0
pt_id                     0
pt_name                   0
um_id                     0
um_name                   0
mp_month                  0
mp_year                   0
mp_price                  0
mp_commoditysource    10319
dtype: int64

In [61]:
data_TR.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
adm0_id,10319.0,249.000000,0.000000,249.0000,249.00000,249.0000,249.00000,249.0000
adm1_id,10319.0,2051.964822,1427.840863,0.0000,0.00000,3023.0000,3056.00000,3057.0000
mkt_id,10319.0,1814.247214,344.599663,1319.0000,1319.00000,2053.0000,2054.00000,2055.0000
cm_id,10319.0,256.765384,141.970221,52.0000,114.00000,239.0000,388.00000,502.0000
cur_id,10319.0,0.000000,0.000000,0.0000,0.00000,0.0000,0.00000,0.0000
pt_id,10319.0,15.000000,0.000000,15.0000,15.00000,15.0000,15.00000,15.0000
um_id,10319.0,15.449462,25.787134,5.0000,5.00000,5.0000,5.00000,102.0000
mp_month,10319.0,6.176277,3.540073,1.0000,3.00000,6.0000,9.00000,12.0000
mp_year,10319.0,2018.266208,1.818305,2013.0000,2017.00000,2018.0000,2020.00000,2021.0000
mp_price,10319.0,17.295317,24.410582,0.2539,3.57865,6.4378,23.85455,167.8585
mp_commoditysource,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [86]:
print(data_TR.mkt_id.unique())
print(data_TR['mkt_id'].value_counts())

1319    3366
2055    2318
2054    2318
2053    2317
Name: mkt_id, dtype: int64
[1319 2053 2054 2055]

In [34]:
data_TR =data_TR.drop(['mp_commoditysource','adm1_name','adm0_name','mkt_id','adm1_id','cur_id','pt_id', 'adm0_id', 'pt_name', 'cur_name'],axis=1)

In [35]:
data_TR

,mkt_name,cm_id,cm_name,um_id,um_name,mp_month,mp_year,mp_price
1826544,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1826545,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
1826546,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
1826547,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
1826548,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
1836858,Izmir,502,Cocoa (powder) - Retail,5,KG,1,2021,68.2002
1836859,Izmir,502,Cocoa (powder) - Retail,5,KG,2,2021,68.6250
1836860,Izmir,502,Cocoa (powder) - Retail,5,KG,3,2021,71.2310
1836861,Izmir,502,Cocoa (powder) - Retail,5,KG,4,2021,73.2609
1836862,Izmir,502,Cocoa (powder) - Retail,5,KG,5,2021,75.6859

In [36]:
data_TR.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
cm_id,10319.0,256.765384,141.970221,52.0000,114.00000,239.0000,388.00000,502.0000
um_id,10319.0,15.449462,25.787134,5.0000,5.00000,5.0000,5.00000,102.0000
mp_month,10319.0,6.176277,3.540073,1.0000,3.00000,6.0000,9.00000,12.0000
mp_year,10319.0,2018.266208,1.818305,2013.0000,2017.00000,2018.0000,2020.00000,2021.0000
mp_price,10319.0,17.295317,24.410582,0.2539,3.57865,6.4378,23.85455,167.8585

In [39]:
data_TR

,mkt_name,cm_id,cm_name,um_id,um_name,mp_month,mp_year,mp_price
1826544,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1826545,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
1826546,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
1826547,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
1826548,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
1836858,Izmir,502,Cocoa (powder) - Retail,5,KG,1,2021,68.2002
1836859,Izmir,502,Cocoa (powder) - Retail,5,KG,2,2021,68.6250
1836860,Izmir,502,Cocoa (powder) - Retail,5,KG,3,2021,71.2310
1836861,Izmir,502,Cocoa (powder) - Retail,5,KG,4,2021,73.2609
1836862,Izmir,502,Cocoa (powder) - Retail,5,KG,5,2021,75.6859

In [40]:
data_TR.columns=['Place', 'ProductId', 'ProductName', 'UmId', 'UmName', 'Month', 'Year', 'Price']

In [41]:
data_TR

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
1826544,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1826545,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
1826546,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
1826547,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
1826548,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
1836858,Izmir,502,Cocoa (powder) - Retail,5,KG,1,2021,68.2002
1836859,Izmir,502,Cocoa (powder) - Retail,5,KG,2,2021,68.6250
1836860,Izmir,502,Cocoa (powder) - Retail,5,KG,3,2021,71.2310
1836861,Izmir,502,Cocoa (powder) - Retail,5,KG,4,2021,73.2609
1836862,Izmir,502,Cocoa (powder) - Retail,5,KG,5,2021,75.6859

In [42]:
data_train = data_TR.loc[data_TR.Year<2020]

In [43]:
data_train

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
1826544,National Average,52,Rice - Retail,5,KG,5,2013,4.4920
1826545,National Average,52,Rice - Retail,5,KG,6,2013,4.5786
1826546,National Average,52,Rice - Retail,5,KG,11,2013,4.7865
1826547,National Average,52,Rice - Retail,5,KG,12,2013,5.1337
1826548,National Average,52,Rice - Retail,5,KG,1,2014,5.5099
...,...,...,...,...,...,...,...,...
1836841,Izmir,502,Cocoa (powder) - Retail,5,KG,8,2019,47.9040
1836842,Izmir,502,Cocoa (powder) - Retail,5,KG,9,2019,49.1176
1836843,Izmir,502,Cocoa (powder) - Retail,5,KG,10,2019,50.8347
1836844,Izmir,502,Cocoa (powder) - Retail,5,KG,11,2019,51.7985
1836845,Izmir,502,Cocoa (powder) - Retail,5,KG,12,2019,51.6071

In [44]:
data_test = data_TR.loc[data_TR.Year>2020]

In [45]:
data_test

,Place,ProductId,ProductName,UmId,UmName,Month,Year,Price
1826622,National Average,52,Rice - Retail,5,KG,1,2021,11.9249
1826623,National Average,52,Rice - Retail,5,KG,2,2021,12.8107
1826624,National Average,52,Rice - Retail,5,KG,3,2021,12.8107
1826625,National Average,52,Rice - Retail,5,KG,4,2021,12.8719
1826626,National Average,52,Rice - Retail,5,KG,5,2021,12.9061
...,...,...,...,...,...,...,...,...
1836858,Izmir,502,Cocoa (powder) - Retail,5,KG,1,2021,68.2002
1836859,Izmir,502,Cocoa (powder) - Retail,5,KG,2,2021,68.6250
1836860,Izmir,502,Cocoa (powder) - Retail,5,KG,3,2021,71.2310
1836861,Izmir,502,Cocoa (powder) - Retail,5,KG,4,2021,73.2609
1836862,Izmir,502,Cocoa (powder) - Retail,5,KG,5,2021,75.6859

In [46]:
data_train.to_csv('train.csv', index=False)

In [47]:
data_test.to_csv('test.csv', index=False)